@page "/Customers"
@using Application.DTO
@using Application.Services.Customers
@using Domain.Entities
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize]
@inject IDialogService DialogService
@inject ICustomerService CustomerService 

<PageTitle>Customer</PageTitle>

<h3>Welcome to Customers page</h3>

<div> 
@* <a href="/Customers/create" class="btn btn-secondary">Add Customer</a> *@
      @* <MudButton Href="/Customers/create" Variant="Variant.Filled" Color="Color.Primary">Add Customer</MudButton> *@
<MudSpacer />
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>OpenDialog())">Add Customer</MudButton>

</div>
<MudStack>
    <MudDataGrid Items="@_customers.Take(4)">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="ID" />
        <PropertyColumn Property="x => x.Name" Title="Name" />
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.Phone" />
        <PropertyColumn Property="x => x.Address" />
        <PropertyColumn Property="x => x.City" Title="City" />
    </Columns>
</MudDataGrid>
<MudPagination Color="Color.Primary" Count="4" @bind-Selected="@_selected"/>

<MudText Align="Align.Center">Selected page: @_selected</MudText>
</MudStack>
  

@code {
        List<Customer> _customers = new List<Customer>();

            private CustomerFilter _filter = new CustomerFilter();
            private int _selected = 1;
        protected override void OnInitialized()
            {
                _customers = CustomerService.GetAllCustomers(_filter);
            }  
            protected IDialogReference dialogReference;
            private Color GetStatusColor(string status)
        {
            return status switch
            {
                "Active" => Color.Success,
                "Completed" => Color.Info,
                "Pending" => Color.Warning,
                "Cancelled" => Color.Error,
                _ => Color.Default
            };
        }

        private async Task OpenDialog()
        {
            var dialog = await DialogService.ShowAsync<CreateCustomerDialog>("Add Customer");
            var result = await dialog.Result;

            if (result != null && !result.Canceled)
            {
                _customers = CustomerService.GetAllCustomers(new CustomerFilter());
            }
        
        }  
    
    
        }